﻿@model Relikt_2_Models.OrderHeader


<div class="text-center">

    @if (Model != null)
    {
        <h1 class="text-info"> Заказ Создан</h1>
        <p>Заказ №@Model.Id был успешно создан!</p>
        <p>Сумма к оплате @Model.FinalOrderTotal грн.</p>
    }
    else
    {
        <h1 class="text-info">Подтверждение Запроса</h1>

        <p>Мы получили от Вас запрос и свяжемся с Вами как можно скорее</p>
    }
    
    @*<input type="submit" value="Сохранить заказ как Exel файл" class="btn btn-info" />*@
    <form action="https://www.privat24.ua/" target="_blank">
        <input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" />
    </form>



    <img src="/images/patio.jpg" width="80%" />


</div>

