﻿@model Relikt_2_Models.ViewModels.HomeVM


<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">Все Товары</button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>
        }
    </div>

    <div class="text-center">

        @foreach (var obj in Model.ApplicationTypes)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>
        }
    </div>

    <div class="text-center">

        @foreach (var obj in Model.SizeTypes)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>
        }
    </div>
    <div class="text-center">

        @foreach (var obj in Model.RightLefts)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>}
    </div>

    <div class="text-center">

        @foreach (var obj in Model.ColourOfGlasses)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>}
    </div>
    <br />
    <div class="row">

        @foreach (var prod in Model.Products)
        {
            <partial name="_IndividualProductCard" model="prod" />
            // Все Товары на экране
        }
    </div>
</div>

@section Scripts{
    @*<script>
            $(document).ready(function () {

                $(".filter-button").click(function () {

                    var value = $(this).attr('data-filter');
                    if (value == "all") {
                        $('.filter').show('1000');
                    }
                    else {
                        $(".filter").not('.' + value).hide('3000');
                        $('.filter').filter('.' + value).show('3000');

                    }
                });

            });
        </script>*@

    <script>
        $('.filter-button.btn-outline-secondary').click(function () {
            $(this).toggleClass('active');
            const $activeFilterButtons = $('.filter-button.btn-outline-secondary.active');
            if ($activeFilterButtons.length > 0) {
                const activeFilters = $activeFilterButtons
                    .map(function () {
                        return $(this).data('filter');
                    })
                    .toArray();

                $('div.filter').each(function () {
                    const el = $(this);
                    if (activeFilters.some(filter => el.hasClass(filter))) {
                        el.css({ display: 'block' });
                    } else {
                        el.css({ display: 'none' });
                    }
                });
            } else {
                $('div.filter').each(function () {
                    $(this).css({ display: 'block' });
                });
            }
        });

        //let filters = {};
        //$('.filter').each(function () {
        //    filters[$(this).attr('tag')] = $(this).attr('state');
        //})

        //$('.filter').click(function () {
        //    let state = $(this).attr('state');

        //    $(this).attr('state', state === 'off' ? 'on' : 'off');
        //    filters[$(this).attr('tag')] = $(this).attr('state');
        //    applyFilters();

        //})

        //function applyFilters() {
        //    let anyFilterApplied = false;
        //    for ([key, value] of Object.entries(filters)) {
        //        if (value === 'on') {
        //            anyFilterApplied = true;
        //        }
        //    }

        //    if (!anyFilterApplied) {
        //        return;
        //    }

        //    $('.items').hide();

        //    $('.items span').each(function () {
        //        let categories = $(this).attr('categories').split(',');
        //        categories.forEach(function (category) {
        //            if (filters[category] === 'on') {
        //                $(this).fadeIn();
        //            }
        //        }.bind(this))
        //    })
        //}
    </script>
}

