﻿@model IEnumerable<Relikt_2_Models.Product>

<div class="container p-3 bg-white">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список Товаров</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Создать Новый Товар
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Название Товара
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>
                        Тип Товара
                    </th>
                    <th>
                        Размер Товара
                    </th>
                    <th>
                        Право-Лево
                    </th>
                    <th>
                        Цвет Стекла
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="30%">@obj.Name</td>
                    <td width="10%">@obj.Price</td>
                    <td width="20%">@obj.Category.Name</td>
                    <td width="20%">@obj.ApplicationType.Name</td>
                    <td width="20%">@obj.SizeType.Name</td>
                    @if (obj.RightLeft != null)
                    {
                        <td width="20%">@obj.RightLeft?.Name</td>
                    }
                    @if (obj.ColourOfGlass != null)
                    {
                        <td width="20%">@obj.ColourOfGlass?.Name</td>
                    }
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Upsert" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Товара не существует...</p>
    }
</div>
