﻿@model Relikt_2_Models.ViewModels.ProductVM
@using Relikt_2_Utility

@{
    var title = "Создать Товар";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id != 0)
    {
        title = "Редактировать Товар";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDesc" class="form-control" />
                        <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row p-2">
                    <div class="col-4">
                        Изображение
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />

                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-select">
                            <option disabled selected>--Выберите Категорию--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row p-2">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationTypeId" asp-items="@Model.ApplicationTypeSelectList" class="form-select">
                            <option disabled selected>--Выберите Тип Товара--</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.SizeTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.SizeTypeId" asp-items="@Model.SizeTypeSelectList" class="form-select">
                            <option disabled selected>--Выберите Размер Товара--</option>
                        </select>
                        <span asp-validation-for="Product.SizeTypeId" class="text-danger"></span>
                    </div>

                </div>

                @if (Model.ViewOptions)
                {
                    <div class="form-group row py-2">
                        <div class="col-4">
                            <label asp-for="Product.RightLeftId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Product.RightLeftId" asp-items="@Model.RightLeftSelectList" class="form-select">
                                <option>--Выберите Право-Лево--</option>
                            </select>
                            <span asp-validation-for="Product.RightLeftId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row py-2">
                        <div class="col-4">
                            <label asp-for="Product.ColourOfGlassId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Product.ColourOfGlassId" asp-items="@Model.ColourOfGlassSelectList" class="form-select">
                                <option>--Выберите Цвет Стекла--</option>
                            </select>
                            <span asp-validation-for="Product.ColourOfGlassId" class="text-danger"></span>
                        </div>
                    </div>
                }

                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Обновить" />
                            }
                            else
                            {
                                //create
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Создать" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-sign-out-alt"></i>
                                Вернуться
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
                @if (Model.Product.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'ОШИБКА!',
                    'Пожалуйста загрузите картинку!',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}